@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
display: block;
max-width: 100%;
height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
    font-size: 0px;
}

.site-navigation {
    padding: 0;
    width: 900px;
    padding: 77px 0px 150px 0px;
    font-family: 'Playfair Display', serif;  
    display: block;
    text-align: center;
    
}

.site-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}

.site-navigation li {
    display: inline-block;
}

#link-one {
    margin-right: 121px;
}

#link-two {
margin-right: 103px;
}

#link-three {
    margin-right: 95px;
}

.list {
    padding-bottom: 70px;
    text-align: center;
  }
  
  .list-item {
    font-family: 'Playfair Display', serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: -webkit-auto;
    margin-bottom: 53px;
  }
  
  .item {
   display: inline-block;
    max-width: 420px;
    font-size: 14px;
    margin: 0 60px 135px 0;
  }
  
  .item:nth-child(2n) {
    margin-left: auto;
    margin-right: 0;
  }
  
  .item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  
  .item img {
    margin-bottom: 31px;
  }
  
  .item span {
    font-family: 'Ubuntu', sans-serif;
    display:inline-block;
    font-size: 14px;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin-bottom: 31px;
  }
  
  .item h2 {
    font-size: 30px;
    color: rgb(98, 98, 98);
    margin-bottom: 36px;
  }
  
  .item p {
    font-size: 14px;
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
  }
  
  
button {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    width: 164px;
    height: 60px;
    background-color: transparent;
    outline: none;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

button:hover {
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    transform: translateY(4px);
}

